

/artifacts
/cache
/contracts
/node_modules
/scripts
/test
/hardhat.config.json
/package-lock.json
/package.json
/README.md
/farminsure-logo.png
/login.html
/pexels-matthias-zomer-422218.jpg
/pexels-todd-trapani-1382102.jpg