

/artifacts
/cache
/contracts
/node_modules
/scripts
/test
/hardhat.config.json
/package-lock.json
/package.json
/README.md
/Frontend/farminsure-logo.png
/Frontend/home.html
/Frontend/dashboard-ui.html

